*{
    margin: 0;
    padding: 0;
}
.header{
 background-color: black;

    padding: 20px;
}

.headercontaint{
    display: inline-block;
    margin-right: 40px;
}
.headercontaint{
    color: aliceblue;
}
.main{
    background-color:darkgray;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 500px;
    margin-left: 500px;
    margin-top: 150px;
    padding: 20px;
    border: 2px;
    border-color: black;
    border-style: ridge;
    border-radius: 5px;
}
body{
    background-color: darkcyan;
}